<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Tab Portal</title>
  <link rel="stylesheet" href="/static/tabPortal.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
  <link rel="manifest" href="/static/icon/site.webmanifest">

  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

  <script src="https://cdn.jsdelivr.net/npm/@coderline/alphatab@alpha/dist/alphaTab.js"></script>
  <script async src="https://kit.fontawesome.com/067013981a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/alphaTab.css">
</head>

<body>
  <div class="tp-main">
    <div class="tp-sidebar">
      <div class="tp-header">
        <div class="tp-logo">Tab Portal</div>
        <div class="tp-section-link"><a href="/">Editor</a></div>
        <div class="tp-section-link"><a href="/tabs">Explore Tabs</a></div>
      </div>
      <div class="tp-menu">
        {{ module("menu") }}
      </div>
      <div class="tp-credits">
        v{{ version }} -
        <a target="_blank" href="https://github.com/jonaro00/TabPortal">GitHub</a>
      </div>
    </div>
    <div class="tp-content">
      {{ module("tabeditor") }}
    </div>
  </div>
</body>

</html>