{% extends "tabportal.html" %}
{% block title%}Tabs | {% call super() %}{%endblock %}
{% block head %}
  <link rel="stylesheet" href="/static/tabExplorer.css">
{% endblock %}
{% block content %}
  <div class="tp-explorer">
    <h2>Tabs</h2>
    <ul>
      {%- for ent in entries %}
        <li>
          <a href="{{ ent.path }}">{{ ent.name }}</a>
        </li>
      {% endfor -%}
    </ul>
    <a href="/api/tabs/tabportal_export.zip">Download all as ZIP</a>
  </div>
{% endblock %}
