{% extends "tabviewer.jinja" %}
{% block menu %}
  {% if not readonly %}
    <div class="tp-help">
      <div class="tp-help-title">Editor: How to use</div>
      Write <a href="https://www.alphatab.net/docs/alphaTex/introduction/" target="_blank">alphaTex</a> notation in the text editor
      and press <b>Ctrl+Enter</b> to render it. Press <b>Enter</b> to re-focus on the editor.
    </div>
  {% endif %}
  <div class="tp-help">
    <div class="tp-help-title">Player: How to use</div>
    Press <b>Space</b> to Play/Pause.
    <b>M</b> to mute.
    <b>Backspace</b> to reset.
  </div>
{% endblock %}
{% block content %}
  <div class="tp-editor-container">
    <div class="tp-editor {{ 'hidden' if readonly }}">
      <textarea id="tp-text-editor" spellcheck="false" {{ 'readonly' if readonly }}>{{ alphaTex or '' }}</textarea>
      <div class="tp-editor-menu">
        {% if readonly %}
          <a class="btn" id="tp-edit">
            <i class="fas fa-edit"></i>
            <br>Edit
          </a>
        {% else %}
          <a class="btn" id="tp-render">
            <i class="fas fa-file-download"></i>
            <br>Render
          </a>
          <a class="btn" id="tp-save" style="color:#888">
            <i class="fas fa-save"></i>
            <br>Save
          </a>
        {% endif %}
      </div>
    </div>
    <div class="tp-editor-bar">
      {% if readonly %}
        <i class="fas fa-chevron-down"></i>
        Source
        <i class="fas fa-chevron-down"></i>
      {% else %}
        <i class="fas fa-chevron-up"></i>
        Editor
        <i class="fas fa-chevron-up"></i>
      {% endif %}
    </div>
    <div class="tp-viewer">
      {{ super() }}
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='tabEditor.js') }}"></script>
{% endblock %}
