<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Tab Portal{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tabPortal.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="tp-main">
      <div class="tp-sidebar">
        <div class="tp-header">
          <div class="tp-logo">Tab Portal</div>
          <div class="tp-section-link"><a href="{{ url_for('editor') }}">Editor</a></div>
          <div class="tp-section-link"><a href="{{ url_for('tabs') }}">Explore Tabs</a></div>
        </div>
        <div class="tp-menu">
          {%- block menu %}{% endblock -%}
        </div>
      </div>
      <div class="tp-content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>